/.VideogenDescriptionLabelProvider.java._trace
/.VideogenDescriptionLabelProvider.xtendbin
/.VideogenLabelProvider.java._trace
/.VideogenLabelProvider.xtendbin
/VideogenDescriptionLabelProvider.java
/VideogenLabelProvider.java
